/* Import Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset + box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Fond & typo  */
body {
  background: #f5f7f8;          
  color: #000000;              
  font-family: 'Poppins', Arial, sans-serif;
}

/* Layout global*/
.layout {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #f5f7f8;
  color: #000000;
}
.home-container {
  flex: 1;
  width: 100%;
}
